// Import all partials
// @require './_*.styl'

$tablet = "(min-width: 768px)"
$desktop = "(min-width: 1170px)"

@font-face 
  font-family "socialMediaIcons"
  src url("../fonts/Socialico.ttf")


a
  text-decoration none

  color #111

  &:visited
    color #111

  &:hover
    color #7beec7


body
  display: flex
  flex-flow row wrap
  justify-content center
  font-family 'Raleway', sans-serif
  font-weight 400
  margin 0
  padding 0


.debug-info
  position absolute
  top 0 
  left 0
  
  &::before
    content "Phone"
    
    @media $tablet
      content "Tablet"

    @media $desktop
      content "Desktop"


.wrapper
  min-height 800px
  max-width: 1170px
  width 100%
  margin 0px
  padding 0px
  display flex
  flex-basis 100%
  flex-shrink 0
  flex-grow 1
  flex-flow row wrap


.wrapper > *
  // &:not(:last-child)
  margin-bottom 6em
  flex-basis 100%
  justify-content center
  
  @media $tablet
    flex-basis 100%
    justify-content center
    // padding 6em

  // @media $desktop 
  //   justify-content flew-start
  //   flex-basis 100%


.inner-wrapper
  // height 400px
  margin-top 5em
  display flex
  flex-flow row wrap
  justify-content center

  // @media $desktop
  //   justify-content space-between


.title
  height 3em
  position relative
  flex-basis 100%
  flex-grow 10
  display flex
  justify-content center
  text-transform uppercase
  letter-spacing 0.2em
  white-space nowrap
  margin-bottom 2em
  
  h1, h2, h3
    font-family 'Source Code Pro', monospace
    font-weight 600
  
  @media $tablet
    justify-content flex-start

  @media $desktop
    justify-content flex-start

.title-underline
    border-bottom 1px solid #111
    position absolute
    height 3.75em
    width 2.5em
  
    @media $tablet
      left 0

    @media $desktop
      left 0


.subtitle
  flex-basis 100%
  flex-grow 1
  text-transform uppercase
  text-align center

  @media $tablet
    text-align left

  @media $desktop
    text-align left


.nav-bar
  display flex
  align-items center
  height 100px
  margin-bottom 0.75em
  
  .oak-logo
    font-family 'Kaushan Script', cursive
    flex-shrink 0
    flex-grow 1
    max-width 6em
    padding-left 1em

    h1
      margin 0 0.4em 0 0.2em
    
    .strike-through
      border-bottom 3px double #111
      position relative
      top -1.5em

    @media $desktop
      padding-left 0em
  
  .menu-wrapper
    // position relative
    display flex
    flex-grow 1
    flex-shrink 10
    justify-content flex-end

    .menu-label
      position relative
      display block

      &.menu-opened
        transition all 0.5s
        transform translateX(140%)

      &:not(.menu-opened)
        transition all 0.5s
        transform translateX(0)
        

    .menu-toggle
      position relative
      padding 18px 11px
      margin-left 1em
      width 26px
      height 12px
      z-index 1
      user-select none
      cursor pointer
      display flex
  
      &:hover
        transition all 0.5s
        background #7beec7

      &.menu-opened
        transition all 0.5s
        background #7beec7

      &:not(.menu-opened)
        transition all 0.5s
        background tranparent

      .icon
         background-image url("/src/img/hamburger.png")
         width 26px
         height 12px

    .menu
      background tranparent
      list-style-type none
      height 3em
      display flex
      overflow hidden

      a
        margin 1em
        white-space nowrap

      &.menu-opened
        transition all 0.5s
        flex-grow 0.45
        flex-shrink 0
        width 5em

      &:not(.menu-opened)
        transition all 0.5s
        flex-grow 0.001
        width 0


.header
  height calc(610px - 12em)
  font-family 'Poiret One', cursive
  text-transform uppercase
  font-weight 900
  display flex
  flex-flow row wrap
  justify-content center
  align-content center
  background-image none
  background #ededed
  padding 2em
  flex-basis 100%

  @media $tablet
    background-image url("/src/img/header.jpg") 
    flex-basis 100%
    padding 6em
    .heading
      display flex
      justify-content center
      flex-basis 100%

    .sub-heading
      display flex
      justify-content center
      flex-basis 100%

  @media $desktop
    background-image url("/src/img/header.jpg") 
    .heading
      display flex
      justify-content flex-start

    .sub-heading
      display flex
      justify-content flex-start

  .heading
    height 5em
    letter-spacing 0.5em
    
    .highlight
      padding 0.5em
      font-weight 100
      background #7beec7
  
  .sub-heading
    font-weight 100
    height 5em
    
    ::after
      font-weight 100
      padding-left 0.3em
      font-size 2em
      vertical-align -15%
      content "|"


.history
  padding 0 5em
  height 500px

  @media $desktop
    padding 0 10em 0 0
    flex-basis 0px
    flex-grow 1


.history-image
  background-image none

  @media $desktop
    background-image url("/src/img/history.jpg")
    flex-grow 0
    flex-shrink 0
    flex-basis 471px


.choose
  padding 0 4em
  
  .subtitle
    letter-spacing 0.1em

  .info-box
    padding 0

    &:not(:last-child)
      margin-bottom 2em

    @media $desktop
      flex-basis 20%
      flex-grow 1
      padding 0 1.5em

      &:first-child
        padding-left 0
      
      &:last-child
        padding-right 0


.our-work
  padding 0 5em

  .menu-wrapper
    margin-top 4em
    justify-content flex-start

    .menu-toggle
      margin-left 0em

  @media $desktop
    padding 0


.product-box
  flex-grow 0
  margin-bottom 30px
  width calc(370px)
  height calc(430px - 30px)
  position relative

  // every other
  @media $tablet
    &:nth-child(odd)
      margin-right 30px

  // every 3rd
  // @media $desktop
  //   &:nth-child(3n+2)
  //     margin-right 30px
  //     margin-left 30px

  @media $desktop
    &:nth-child(odd)
      margin-right 0
    &:nth-child(3n+2)
      margin-right 30px
      margin-left 30px


  .overlay 
    opacity 0
    position absolute
    top 0
    left 0
    width calc(375px - 40px - 60px)
    height calc(395px - 40px)
    padding 20px
    z-index 2
  // .overlay 
  //   opacity 0
  //   position absolute
  //   top 0
  //   left 0
  //   width calc(375px - 40px - 60px)
  //   height calc(395px - 40px)
  //   padding 20px
  //   background rgba(123, 238, 199, 0.75)
  //   z-index 2
    
  //   &:hover
  //     opacity 1
  //     border 3px solid #000
  
  //   .cross
  //     position relative
  //     left 40%
  //     top 20%
  //     width 70px
  //     height 70px
      
  //     .vertical
  //       position relative
  //       height 100%
  //       left 50%
  //       top 50%
  //       border-left 1px solid #000
      
  //     .horizontal
  //       width 100%
  //       border-top 1px solid #000

  //   .heart
  //     font-family 'Source Code Pro', monospace
      
  //     .heart-symbol
  //       font-weight 100
  //       padding 0
  //       margin 0
  //       position relative
  //       left 6px
  //       top -10px
      
  //     .heart-value
  //       margin 0
  //       padding 0
  //       line-height 0
  //       position relative
  //       top -10px
    
  //   .product-titles
  //     position relative
  //     height 3em
  //     top 55%
  //     text-transform uppercase
      
  //     .product-title
  //       h3
  //         font-weight 900
  //       margin 0
  //       padding 0
  //       line-height 0
  //       position relative
      
  //     .product-subtitle
  //       h4
  //         font-weight 100
  //       font-weight 100
  //       margin 0
  //       padding 0
  //       line-height 0
  //       position relative


.refresh
  display flex
  flex-basis 100%
  justify-content center
  padding-bottom 1em

.email-signup
  display flex
  flex-flow row wrap
  flex-basis 100%
  justify-content center
  // height 325px

  .left
    min-width 400px
    max-height 325px
    background #7beec7
    height 100%
    flex-basis 50%
    display flex
    justify-content center
    align-items center
    text-align left
    text-transform uppercase
    font-family 'Source Code Pro', monospace
    letter-spacing 0.1em
    
    .left-inner
      width calc(100% - 100px)
      height calc(100% - 100px)
      margin 50px
      display flex
      justify-content center
      flex-flow column
      h1
        font-weight 100
        padding 0
        margin 0

  .right
    max-height 325px
    background-image url("/src/img/clock.jpg")
    height 100%
    flex-basis 50%
    .right-inner
      width calc(100% - 100px)
      height calc(100% - 100px)
      background #FFF
      margin 50px
      form
        padding 50px
        display flex
        justify-content center
        align-items center
        flex-flow column

      input, button
        height 45px
        flex-basis 100%
        flex-grow 1
        margin-bottom 30px
        text-transform uppercase
        font-size medium
      
      button
        width 200px
        background #7beec7
        border none
        font-weight 600
        letter-spacing 0.15em
        color #FFF
        
        &:hover
          transition all 0.2s
          background #9cf2d5
        &:active
          transition all 0.2s
          background #75e2bd

      input
        width calc(100% - 3em)
        border 1px solid #e6e6e6
        padding 0 1.5em

    // 9cf2d5 light
    // 75e2bd dark

.footer
  min-height 300px
  background #f4f4f4
  width 100%
  margin 6em 0 0 0
  padding 1em 0
  display flex
  flex-flow row wrap

  h3, p
    line-height 0.5em
    letter-spacing 0.15em

  h3
    text-transform uppercase

  .address, .social-media, .contact
    flex-basis 100%
    flex-grow 1
    display flex
    justify-content center
    align-items center
    flex-flow column
    order 2
    text-align center
    margin 1em 0

    @media $tablet
      flex-basis 30%

    @media $desktop
      flex-basis 30%

  .address, .contact
    @media $tablet
      text-align left

    @media $desktop
      text-align left

  .address 
    @media $tablet
      order 1

    @media $desktop
      order 1

  .contact
    @media $tablet
      order 3

    @media $desktop
      order 3

  .social-media
    text-align center
    flex-grow 2
    order 3

    .icons
      display flex
      justify-content center
      flex-flow row
      
      .icon
        margin 1em 0.5em

      font-family "socialMediaIcons"
      font-size larger
      margin-bottom 0.8em

    h3
      line-height 1em

    @media $tablet
      order 2

    @media $desktop
      order 2